@media screen and (max-width: 765px) {
  .left{
    float: none !important;
  }
  .right{
    width: 100% !important;
  }
}
.menu_right{
  float: right;
}
.filmAanbodPanel {
    height: 89vh;
}
.details img{
  float: left;
  width: 300px;
  height: 450px;
  padding-right: 20px;
}
.details p{
  margin-top: -5px;
  font-weight: 500;
}
.terug_button{
  float: left;
  background-color: rgb(0, 150, 136) !important;
  color: #f2f2f2 !important;
}
.terug_button:hover{
  background-color: rgba(150,153,153,.6) !important;
  color: white !important;
}
.filmDetails{
  margin-top: 80px;
}
img.img-responsive.cover {
    max-width: 350px;
}
.filmaanbod-terug{
  padding-right: 5px;
}
.bestel{
  float: left;
  background-color: rgb(0, 150, 136) !important;
  color: #f2f2f2 !important;
}
.bestel:hover{
  background-color: rgba(150,153,153,.6) !important;
  color: white !important;
}
.bestel-plus{
  padding-right: 5px;
}
.registreer-panel{
  width: 50%;
  margin: 0 auto;
}
.login-panel{
  width: 50%;
  margin: 0 auto;
}
.form-knop{
  color: #fff !important;
  background-color: rgba(0, 150, 136, 1) !important;
}
.form-knop:hover{
  background-color: rgba(153, 153, 153, 0.2) !important;
  color: rgba(0, 150, 136, 1) !important;
}
.alert{
  background-color: rgba(225,30,1, 0.84) !important;
}
.succes {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: rgba(-7,204,11, 0.84) !important;
    color: rgba(255,255,255,1);
}
.warning{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: rgba(225,160,1, 0.84) !important;
  color: rgba(255,255,255,1);
}
img.winkelmand_img {
    max-height: 155px;
}
.winkelmand_onder{
  float:right;
  padding-right: 20px;
}
i.fa.fa-times-circle-o {
    font-size: 23px !important;
    color: red !important;
}
a.menu_winkelmand {
    font-size: 20px;
    /*font-weight: bold;*/
}
.container-fluid.container {
    font-weight: normal;
}
.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 15px;
    text-align:center;
    padding-top:calc(43% - 30px);
    display:table-cell;
    vertical-align: middle;
}
.fa-pencil{
  font-size: 23px !important;
}
.fa-floppy-o{
  font-size: 23px !important;
}

.thumb_img {
    width:200px;
    height:300px;
}

.textfilmaanbod {
    font-size:22px;
}
.fa-ban{
  font-size: 22px;
  color: red;
}
.unblock{
  color: green;
}
.left{
  float: left;
  width: 50%;
}
.right{
  width: 78%;
  float:left;
}
.green_count{
  color: green;
}
.orange_count{
  color: 	orange;
}
.red_count{
  color: red;
}
.left_menu {
    margin-right: 10px;
    float: left;
    width: 20%;
    margin-left: -1px;
    margin-bottom: -1px;
}
.left_menu_button{
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}
.left_button{
  width: 100%;
  background-color: lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 1px;
  border-bottom: 1px solid #000;
}
.left_menu_list{
  margin-bottom: 0;
}
.eigenaar_right{
  padding: 0;
}
button.btn.btn-succes.left_button {
    color: rgba(45,62,75, 1);
}
.actief{
  background-color: mediumseagreen !important;
  color: white !important;
}
.actief .fa {
    color: white;
}

.left_button .fa {
    font-size: 22px;
    float: left;
}
.klant_right{
  width: 50%;
  float: left;
}
button.btn.btn-success.ban {
    margin-top: -8px;
}
